
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
    background-color: black;
}
.head{
    font-size: 2.50rem;
    font-weight: 800;
    color: white;
}
.para{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 200;
}
.display-flex{
    display: flex;
}
.text-align{
    text-align: center;
}
.btn-primary{
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    margin-left: 7rem;
    margin-top: 2rem;
}
/* body header */
header{
    background-color: #232323f7;
    width: 100%;
    height: auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #E6533C;
    padding-left: 7rem;
    font-size: 2rem;
    font-weight: 800;
}
.navbar-links{
    list-style: none;
    gap: 3rem;
    padding-right: 7rem;
}
nav li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
}
.navbar-link{
    color: white;
}
.navbar-title{
    justify-content: space-between;
}
.header{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    width: 26rem;
    height: 10rem;
    margin-left: 7rem;
}
.box{
    width: 12rem;
    height: 5rem;
}
.box-1{
    
}
.box-2{
    
}
.img{
    margin-right: 7rem;
    width: 21rem;
    height: 36rem;
}
.head-h4{
    color: white;
}
.main{
   margin-top: 10%; 
}
.img-0{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.img-container{
    margin-top: 3rem;
    padding-right: 1.80rem;
}
.img-1{
    border-radius: 50%;
}
.run-container{
    width: 66rem;
    height: 23rem;
    background-color: #232323f7;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 9%;
    margin-top: 10%;
}
.run-text{
    width: 20rem;
    height: 17rem;
    margin-left: 3.25rem;
    margin-top: 2.50rem;
}
.img-2 img{
    width: 22rem; 
    height: 19rem;
    margin-top: 1.80rem;
    margin-right: 2rem;
    border-radius: 5%;
}
.bmi-container{
    margin-top: 10%;
}
.bmi{
    justify-content: space-between;
    background-color: #232323f7;
    width: 100%;
    height: 30rem;
    margin-top: 10%;
}
.btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}